@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html,body{
    scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
    width: 0px;
    background-color: black;
    border: 0px solid black;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 50px;
    border: 0px solid black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;

}


section{
    height: 100vh;

}

footer{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 10px;
    color: rgb(66, 64, 64);
    gap: 1vw;
    font-size: 0.8em;
}

.fa-brands{
    color: rgb(66, 64, 64);
}


.main-section{
    background-color: black;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.typing-animation{
    animation: blink-cursor 500ms steps(30) infinite normal,
     typing 4s steps(30) 1s normal both;
}

.show-animation{
    animation: typing2  2s normal both;
    animation-delay: 5s;
}

.show-links-animation{
    animation: typing3  2s normal both;
    animation-delay: 6s;
}

.main-name{
    font-size: 3em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,0.75);
    color: white;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.main-section h3{
    color: white;
    margin-top: 3vh;
    letter-spacing: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.nav-list ul li a{
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: bold;
    overflow: hidden;
    padding:30px;
    border-radius: 50px;
    font-size: 1em;
    transition: all .2s ease-in-out;
}

.nav-list ul li a:hover{
    font-size: 1.3em;
}


.nav-list ul li{
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.nav-list ul{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: black;
    height: 8vh;
    width: 100vw;
}

.about-section{
    padding: 0 5%;
}

.about-section h1{
    padding-top: 15vh;
    font-size: 4em;
    letter-spacing: 8px;
}

.about-section p{
    color: #514E4E;
    font-size: 1.5em;
    letter-spacing: 4px;
    text-align: center;
    margin: 0 auto;
    margin-top: 12vh;
}

.saber-mais{
    padding-top: 15vh;
    text-align: right;
}

.saber-mais h2{
    font-size: 2.5em;
    letter-spacing: 4px;
}

.saber-mais a{
    text-decoration: none;
    color: #514E4E;
    letter-spacing: 4px;
}

.saber-mais a:hover{
    font-size: 1.3em;
    transition: all .2s ease-in-out;
}

@keyframes showBg{
    from{
        font-size: 1em;
        text-decoration: none;
    }

    to{
        font-size: 1.3em;
        transform: translateX(100px);
    }
}

@keyframes blink-cursor{
    from{
        border-right-color: rgba(255,255,255,0.75);
    }

    to{
        border-right-color: transparent;
    }
}

@keyframes typing3{
    from{
       width: 0;
    }

    to{
        width: 14em;
    }
}

@keyframes typing2{
    from{
       width: 0;
    }

    to{
        width: 26em;
    }
}

@keyframes typing{
    from{
       width: 0;
    }

    to{
        width: 10em;
    }
}


@media screen and (max-width: 480px){
    .main-name{
        font-size: 2em;
    }

    .main-section h3{
        font-size: 1em;
    }

    .nav-list ul{
        display: flex;
        flex-direction: row;
    }

    .nav-list ul li a{
        font-size: 0.7em;
    }
    .nav-list ul li a:hover{
        font-size: 0.8em;
    }

    footer{
        font-size: 0.7em;
        gap: 2vw;
    }
}